.hawks div{color: white;
    background-color: #E03A3E;
    }
.celtics div{color: white;
    background-color: #007A33;
    }
.cavaliers div{color: white;
    background-color: #860038;}
.pelicans div{color: white;
    background-color: #0C2340;
    }
.bulls div{color: white;
    background-color: #CE1141;
    }
.mavericks div{color: white;
    background-color: #00538C;
    }
.nuggets div{color: white;
    background-color: #0E2240;
    }
.warriors div{color: white;
    background-color: #1D428A;
    }
.rockets div{color: white;
    background-color: #CE1141;
    }
.clippers div{color: white;
    background-color: #1D428A;
    }
.lakers div{color: white;
    background-color: #552583;
    }
.heat div{color: white;
    background-color: #98002E;
    }
.bucks div{color: white;
    background-color: #00471B;
    }
.timberwolves div{color: white;
    background-color: #0C2340;
    }
.nets div{color: #FFFFFF;
    background-color: #000000;
    }
.knicks div{color: white;
    background-color: #006BB6;
    }
.magic div{color: white;
    background-color: #0077C0;
    }
.pacers div{color: white;
    background-color: #FDBB30;
    }
.sixers div{color: white;
    background-color: #006BB6;
    }
.suns div{color: white;
    background-color: #E56020;
    }
.blazers div{color: white;
    background-color: #E03A3E;
    }
.kings div{color: white;
    background-color: #5A2D81;
    }
.spurs div{color: white;
    background-color: #000000;
    }
.thunder div{color: white;
    background-color: #007AC1;
    }
.raptors div{color: white;
    background-color: #CE1141;
    }
.jazz div{color: white;
    background-color: #002B5C;
    }
.grizzlies div{color: white;
    background-color: #5D76A9;
    }
.wizards div{color: white;
    background-color: #002B5C;
    }
.pistons div{color: white;
    background-color: #1D42BA;
    }
.hornets div{color: white;
    background-color: #1D1160;
    }
.sonics div{color: white;
    background-color: #00653A;
    }
.bobcats div{color: white;
    background-color: #EF3B24;
    }
.minneapolis div{color: white;
    background-color: #6890e0;
    }
.default div{color: #ffffff;
            background-color: #3b3b3b;
            border: 3px solid #FFC200;}
                    